.header--configurator .logo {
  width: 120px;
  position: static;
  transform: unset;
}
.header--configurator {
  padding: 40px 20px;
  justify-content: space-between;
}

.config-container {
  overflow-y: hidden;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  margin: auto;
  -webkit-box-shadow: 0px 24px 71px -45px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 24px 71px -45px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 24px 71px -45px rgba(0, 0, 0, 0.56);
}

.options {
  padding: 30px 10px;
}
.config-container span {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 23px;
  color: #606060;
}

h3 {
  font-family: var(--primary-font);
  font-size: 16px;
}
h4 {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 300;
  max-width: 100px;
}

.subheading {
  display: block;
  padding-bottom: 14px;
}

.option img {
  max-width: 150px;
  max-height: 75px;
  margin-bottom: 10px;
}

.option-container {
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-start;
  max-width: 700px;
}
.option-item {
  padding: 20px;
  border: 3px solid transparent;
  margin-right: 14px;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-item:hover,
.option-item.active {
  border: 3px solid lightgrey;
}

.option-item.focused {
  border: 3px solid rgb(22, 142, 255);
}

.keyboard {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

svg {
  display: block;
  width: 600px;
  height: auto;
}

svg g:not(.shadow, .keycaps):hover {
  filter: contrast(0.5);
  cursor: pointer;
}

g.focused {
  stroke-width: 3px;
  stroke: rgb(22, 142, 255);
}

.shadow {
  pointer-events: none;
}

.color-picker {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 20px;
}
.color {
  --color: black;
  width: 70px;
  height: 70px;
  border: 5px solid var(--color);
  background: var(--color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.color:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.color.active {
  border: 5px solid black;
  transform: scale(1.1);
}
