body {
  background: mediumturquoise !important;
  overflow-y: hidden;
}

.header--configurator .logo {
  width: 120px;
  position: static;
  transform: unset;
}
.header--configurator {
  padding: 40px 20px;
  justify-content: space-between;
}

.config-container {
  display: flex;
  margin: auto;
  height: calc(100vh - 200px);
}

.config-container span {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 23px;
  color: black;
}

.options {
  padding: 30px;
  background: floralwhite;
  align-self: flex-start;
}

.keyboard {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
  z-index: 3;
  overflow-y: hidden;
}

.option img {
  max-width: 150px;
  max-height: 75px;
  margin-bottom: 10px;
}

.option-container {
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-start;
  max-width: 700px;
}

.option-container:last-child {
  margin-bottom: 0px;
}

.option-item {
  padding: 20px;
  border: 3px solid transparent;
  margin-right: 14px;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-item:hover,
.option-item.active {
  border: 3px solid black;
}

.option-item.focused {
  border: 3px solid rgb(22, 142, 255);
}

h3 {
  font-family: var(--primary-font);
  font-size: 16px;
}
h4 {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 300;
  max-width: 100px;
}

.subheading {
  display: block;
  padding-bottom: 14px;
  color: black;
}

svg {
  display: block;
  width: 600px;
  height: auto;
}

svg g:not(.shadow, .keycaps):hover {
  filter: contrast(0.5);
  cursor: pointer;
}

g.focused {
  stroke-width: 3px;
  stroke: rgb(22, 142, 255);
}

.shadow {
  pointer-events: none;
}

.color-picker {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 20px;
}
.color {
  --color: black;
  width: 70px;
  height: 70px;
  border: 5px solid var(--color);
  background: var(--color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.color:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.color.active {
  border: 5px solid black;
  transform: scale(1.1);
}

.selectedFeatures {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
}

.selectedFeature img {
  height: 50px;
  margin-right: 20px;
}
